.context-menu-wrapper{
	position: absolute;
	width:200px;

	background: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

	padding: 6px 0;
}

.context-menu-wrapper>ul{
}

.context-menu-wrapper>ul>li{
	padding : 4px 8px;
	font-size: 12px;
}


.context-menu-wrapper>ul>li.title{
	font-weight: bold;
	color: #999;
}

.context-menu-wrapper>ul>li.separation{
	height:0;
	padding:0;
	border-bottom: 1px solid #CCC;
}


.context-menu-wrapper>ul>li.button:hover{

	color: white;
	cursor: pointer;

	background-color: #0088cc;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid: dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}


.context-menu-wrapper .pattern-list>li{

	width:16px;
	height:16px;
	border:1px solid #999;
	float:left;
	margin: 2px 4px;
}

.context-menu-wrapper .pattern-list .pattern-ico{
	width:100%;
	height:100%;
}

.context-menu-wrapper .pattern-list .pattern-2-2{
	background-image:url("./chord-background/2-2.svg");
}

.context-menu-wrapper .pattern-list .pattern-2-1-1{
	background-image:url("./chord-background/2-1-1.svg");
}

.context-menu-wrapper .pattern-list .pattern-1-1-1-1{
	background-image:url("./chord-background/1-1-1-1.svg");
}

.context-menu-wrapper .pattern-list .pattern-1-1-2{
	background-image:url("./chord-background/1-1-2.svg");
}

.context-menu-wrapper .pattern-list>li:hover{
	background-color: #0088cc;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid: dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

	cursor:pointer;
}

.context-menu-wrapper .chord-editor input{
	width: 50px;
}

.context-menu-wrapper .line-section-name input{
	width: 70px;
}

.context-menu-wrapper form>label{
	display:block;
	margin-bottom:5px;
}

.context-menu-wrapper form>input{
	margin-left: 5px;
}
